<div class=" md:block">
  <div class="max-w-screen-lg p-2 mx-auto">
    <section class="min-h-screen  py-10 font-josefin">
      <div class="text-center mb-12 mt-10">
        <h1 class="text-5xl font-extrabold text-couleur-fond mb-4">
          Mes <span class="text-first">Projets</span>
        </h1>
        <p class="text-xl text-gray-600 fade-in">
          Quelques projets sur lesquels j'ai travaillé
        </p>
        <div class="mx-auto h-1 w-24 bg-couleur-text rounded-full"></div>
      </div>

      <div class="relative ">
        <div #scrollContainer
          class="flex flex-col md:flex-row gap-8 overflow-hidden overflow-x-scroll scroll-container scrollbar-hide snap-x snap-mandatory scroll-smooth">

          <div *ngFor="let project of projects"
            class="glassmorphism min-w-[300px] md:min-w-[350px] lg:min-w-[400px] rounded-2xl overflow-hidden hover:neon-glow transition-all duration-300 fade-in group snap-start">
            <div class="relative overflow-hidden">
              <img src="{{project.image}}" alt="{{project.alt}}"
                class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-300">
              <div
                class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
              </div>
            </div>
            <div class="p-6">
              <h3 class="font-space font-semibold text-xl mb-2">{{project.name}}</h3>
              <p class="text-gray-600 dark:text-gray-600 mb-4">
                {{project.description}}
              </p>
              <div class="flex flex-wrap gap-2 mb-4">
                <span class="px-2 py-1   text-xs rounded bg-blue-100 text-blue-800 rounded-ful"
                  *ngFor="let tag of project.tags">{{tag}}</span>
              </div>
              <!-- <div class="flex gap-3">
                <button
                  class="flex-1 px-4 py-2 bg-primary text-white !rounded-button hover:bg-primary/90 transition-colors whitespace-nowrap">
                  <div class="w-4 h-4 inline-flex items-center justify-center mr-2">
                    <i class="ri-external-link-line"></i>
                  </div>
                  Démo
                </button>
                <button
                  class="flex-1 px-4 py-2 border border-gray-300 dark:border-gray-600 !rounded-button hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors whitespace-nowrap">
                  <div class="w-4 h-4 inline-flex items-center justify-center mr-2">
                    <i class="ri-github-line"></i>
                  </div>
                  GitHub
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
  
      <!-- Container avec scroll horizontal -->
    
      <div
        class="h-[15rem] md:h-[10rem] rounded-xl z-40 [mask-image:radial-gradient(50%_50%_at_50%_50%,white_0%,transparent_100%)]"
      >
        <div
          class="p-8 overflow-hidden h-full relative flex items-center justify-center"
        >
          <div
            class="flex flex-row flex-shrink-0 justify-center items-center gap-2"
          >
            <div
              id="style-ed6AE"
              class="rounded-full flex items-center justify-center bg-gray-400 shadow-[0px_0px_8px_0px_rgba(248,248,248,0.25)_inset,0px_32px_24px_-16px_rgba(0,0,0,0.40)] h-8 w-8 circle-1 style-ed6AE"
            >
              <img
                src="/assets/icons/vscode.svg"
                alt="VSCode Icon"
                class="h-6 w-6"
              />
            </div>
            <div
              id="style-pvfli"
              class="rounded-full flex items-center justify-center bg-gray-400 shadow-[0px_0px_8px_0px_rgba(248,248,248,0.25)_inset,0px_32px_24px_-16px_rgba(0,0,0,0.40)] h-12 w-12 circle-2 style-pvfli"
            >
              <img
                src="/assets/icons/android.svg"
                alt="Android Studio"
                class="h-6 w-6"
              />
            </div>
            <div
              id="style-co8vS"
              class="h-16 w-16 rounded-full flex items-center justify-center bg-gray-400 shadow-[0px_0px_8px_0px_rgba(248,248,248,0.25)_inset,0px_32px_24px_-16px_rgba(0,0,0,0.40)] circle-3 style-co8vS"
            >
              <img
                src="/assets/icons/discord.svg"
                alt="Discord Icon"
                class="h-10 w-10"
              />
            </div>
            <div
              id="style-ce5cf"
              class="rounded-full flex items-center justify-center bg-gray-400 shadow-[0px_0px_8px_0px_rgba(248,248,248,0.25)_inset,0px_32px_24px_-16px_rgba(0,0,0,0.40)] h-12 w-12 circle-4 style-ce5cf"
            >
              <img
                src="/assets/icons/teams.svg"
                alt="Microsoft teams Icon"
                class="h-6 w-6"
              />
            </div>
            <div
              id="style-cq179"
              class="rounded-full flex items-center justify-center bg-gray-400 shadow-[0px_0px_8px_0px_rgba(248,248,248,0.25)_inset,0px_32px_24px_-16px_rgba(0,0,0,0.40)] h-8 w-8 circle-5 style-cq179"
            >
              <img
                src="/assets/icons/trello.svg"
                alt="Trello Icon"
                class="h-6 w-6"
              />
            </div>
          </div>
          <div
            class="h-40 w-px absolute top-20 m-auto z-40 bg-gradient-to-b from-transparent via-cyan-500 to-transparent animate-move"
          >
            <div class="w-10 h-32 top-1/2 -translate-y-1/2 absolute -left-10">
              <div class="absolute inset-0">
                <span
                  id="style-85zWm"
                  class="inline-block bg-black dark:bg-white style-85zWm"
                ></span
                ><span
                  id="style-LbmUy"
                  class="inline-block bg-black dark:bg-white style-LbmUy"
                ></span
                ><span
                  id="style-OTex5"
                  class="inline-block bg-black dark:bg-white style-OTex5"
                ></span
                ><span
                  id="style-oUEf7"
                  class="inline-block bg-black dark:bg-white style-oUEf7"
                ></span
                ><span
                  id="style-9lwEF"
                  class="inline-block bg-black dark:bg-white style-9lwEF"
                ></span
                ><span
                  id="style-VSPhh"
                  class="inline-block bg-black dark:bg-white style-VSPhh"
                ></span
                ><span
                  id="style-YKMZp"
                  class="inline-block bg-black dark:bg-white style-YKMZp"
                ></span
                ><span
                  id="style-D4K7j"
                  class="inline-block bg-black dark:bg-white style-D4K7j"
                ></span
                ><span
                  id="style-61SdM"
                  class="inline-block bg-black dark:bg-white style-61SdM"
                ></span
                ><span
                  id="style-xcj7O"
                  class="inline-block bg-black dark:bg-white style-xcj7O"
                ></span
                ><span
                  id="style-P6qK5"
                  class="inline-block bg-black dark:bg-white style-P6qK5"
                ></span
                ><span
                  id="style-XRDvo"
                  class="inline-block bg-black dark:bg-white style-XRDvo"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

