
<!-- Section Contact -->
<section
  class="hidden md:flex bg-[#e7ded9] text-[#1e3c42] py-20 px-8 md:px-10 flex flex-col items-center  text-center space-y-6"
>
  <div class="max-w-4xl">
    <h2 class="text-4xl font-bold mb-6">Restons Connectés</h2>
    <p class="text-lg md:text-xl leading-relaxed">
      Vous avez une idée, un projet ou une collaboration en tête ? Je suis
      toujours à la recherche de nouvelles opportunités stimulantes et
      passionnantes. Que ce soit pour un partenariat, une mission freelance ou
      simplement pour échanger sur la technologie, n’hésitez pas à m’écrire !
    </p>
    <a href="https://drive.google.com/file/d/13ubJ363MapdoMK0qZp1AjG7KXLguOfZw/view?usp=sharing"
          class="relative z-10 mx-auto w-auto max-w-fit inline-flex items-center gap-3 mt-10 px-8 py-2 text-lg md:text-xl font-bold rounded-full bg-second text-couleur-secondaire shadow-xl hover:scale-105 hover:bg-first transition-all duration-300">
          Voir mon CV
        </a>
  </div>
  <!-- Flèche en bas à droite -->
</section>


<section class="md:hidden bg-[#e7ded9] text-[#1e3c42] py-20 px-8 md:px-20 flex flex-col items-center text-center space-y-6">
  <div class="max-w-4xl">
    <h2 class="text-4xl font-bold mb-6">Restons Connectés</h2>
    <p class="text-lg md:text-xl leading-relaxed">
      Vous avez une idée, un projet ou une collaboration en tête ? Je suis
      toujours à la recherche de nouvelles opportunités stimulantes et
      passionnantes. Que ce soit pour un partenariat, une mission
      freelance ou simplement pour échanger sur la technologie, n’hésitez
      pas à m’écrire !
    </p>
    <a href="https://drive.google.com/file/d/13ubJ363MapdoMK0qZp1AjG7KXLguOfZw/view?usp=sharing"
          class="relative z-10 mx-auto w-auto max-w-fit inline-flex items-center gap-3 mt-10 px-8 py-2 text-lg md:text-xl font-bold rounded-full bg-second text-couleur-secondaire shadow-xl hover:scale-105 hover:bg-first transition-all duration-300">
          Voir mon CV
          <svg class="svg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M502.3 190.8l-192-160A48 48 0 00288 32H80a48 48 0 00-48 48v352a48 48 0 0048 48h352a48 48 0 0048-48V240a48 48 0 00-18.3-49.2zM464 432a16 16 0 01-16 16H80a16 16 0 01-16-16V160l208 132 208-132zM256 294L48 160h416z"/>
            </svg>
        </a>
  </div>
</section>

  
