<div class="max-w-7xl mx-auto font-josefin pt-5">
  <div class="text-center mb-5">
    <h1 class="text-5xl font-extrabold text-couleur-fond mb-4 fade-in">
      Tech <span class="text-first">Stack</span>
    </h1>
    <p class="text-xl text-couleur-text fade-in">
      Les technologies que j'utilise pour faire vivre vos idées
    </p>
    <div class="mx-auto h-1 w-24 bg-couleur-text rounded-full"></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    
    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <i class="ri-angularjs-line text-4xl text-red-500"></i>
      </div>
      <h3 class="text-xl font-bold mb-3">Angular</h3>
      <p class="text-sm">
        Développement d'applications web modernes et performantes avec Angular
        et TypeScript.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <img src="assets/icons/nestjs.svg" alt="NestJS" class="w-10 h-10 ">
      </div>
      <h3 class="text-xl font-bold mb-3">NestJS</h3>
      <p class="text-sm">
        API REST et backend robustes avec le framework NodeJS NestJS et
        TypeScript.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <i class="ri-database-2-line text-4xl text-indigo-500"></i>
      </div>
      <h3 class="text-xl font-bold mb-3">PostgreSQL</h3>
      <p class="text-sm">
        Conception et gestion de bases de données relationnelles fiables et
        performantes.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <img src="assets/icons/tailwindcss.svg" alt="tailwindcss" class="w-10 h-10">
      </div>
      <h3 class="text-xl font-bold mb-3">Tailwind CSS</h3>
      <p class="text-sm">
        Création d'interfaces modernes et responsive avec Tailwind CSS.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <i class="ri-javascript-line text-4xl text-yellow-400"></i>
      </div>
      <h3 class="text-xl font-bold mb-3">JavaScript</h3>
      <p class="text-sm">
        Maîtrise de JavaScript  pour le développement web
        fullstack.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <i class="ri-git-branch-line text-4xl text-orange-500"></i>
      </div>
      <h3 class="text-xl font-bold mb-3">Git & GitHub</h3>
      <p class="text-sm">
        Gestion de version et travail collaboratif avec Git, GitHub et GitLab.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <img src="assets/icons/python.svg" alt="Python" class="w-10 h-10">
      </div>
      <h3 class="text-xl font-bold mb-3">Python</h3>
      <p class="text-sm">
        Scripts backend et automatisation avec Python et FastAPI.
      </p>
    </div>

    <div
      class="bg-gray-100 border border-gray-300 rounded-xl p-8 text-couleur-text transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:border-gray-400 hover:shadow-lg fade-in"
    >
      <div class="w-16 h-16 flex items-center justify-center mb-6">
        <img src="assets/icons/flutter.svg" alt="flutter" class="w-10 h-10">
      </div>
      <h3 class="text-xl font-bold mb-3">Flutter</h3>
      <p class="text-sm">
        Développement mobile multiplateforme rapide et efficace avec Flutter.
      </p>
    </div>
  </div>
</div>
